<!DOCTYPE html>
<html lang="en"><head>
<head>
<meta charset="utf-8">
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TODO">
    <meta name="author" content="John Hosie">  
    <title>{{ page.title }}</title>
  
  <!-- 

   
<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/superhero/bootstrap.min.css" rel="stylesheet">  
   <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/slate/bootstrap.min.css" rel="stylesheet"> 
   <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/spacelab/bootstrap.min.css" rel="stylesheet">
   -->
   
   
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">   
   
   
  
  
  
  <link href="/css/style.css" rel="stylesheet" media="screen">
	
</head>
<body>
  <!-- top bar -->
  <div class="navbar navbar-inverse navbar-fixed-top shadow" role="navigation">
      <div class="container">
        <div class="navbar-header col-md-8 h4"><img class="small-icon" src="/images/ot4i-small.svg"/>OT4I: Open Technologies for Integration</div>        
        <!-- </div>
        <div class="h4 navbar-header col-md-7">          -->
          
        
        <!--<div class="nav-collapse collapse .navbar-right">
        <div class="nav-collapse col-md-4">
          <ul class="nav">
            <li><a id="forkme_banner" href="https://github.com/ot4i">View on GitHub</a></li>
          </ul>
        </div>-->
      </div>
    </div>
  <!-- end of top bar -->
  {{ content }}
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>-->
  </body>
</html>

